<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatgpt.css') }}">

</head>
<body>

<script src="{{ url_for('static', filename='js/chatgpt.js') }}" defer></script>

<div id="container">
    <div id="menu">
        <a href="#" onclick="showFrame('settings')">Настройки</a>
        <a href="#" onclick="new_chat();">Новый чат</a>
        <input type="text" id="new_chat">
        {% for chat in chats %}
        <a href="/chat_messages/{{ chat.id }}" onclick="showFrame('chat');" target="chat">{{ chat.name }}</a>
        {% endfor %}
    </div>

    <div id="content">
        <iframe id="chat" name="chat" src=""></iframe>
        <iframe id="settings" name="setting" src=""></iframe>
    </div>
</div>

</body>
</html>