<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatgpt.css') }}">
</head>
<script>
 function loaded() {
     const textarea = document.getElementsByTagName('textarea');
     for (let el of textarea){
        el.style.height = (el.scrollHeight+5) + 'px';
     }
     const out_messages = document.getElementsByClassName('out_message')
     if (out_messages.length>2){
         let last_message = out_messages[out_messages.length-3]
         let head = last_message.parentElement.children[0].children[0]
         let sys = last_message.parentElement.children[0].children[1].children[1].textContent
         document.getElementById("temperature").value = head.children[2].textContent
         document.getElementById("max_tokens").value = head.children[4].textContent
         document.getElementById("model").value = head.children[6].textContent
         document.getElementById('system').innerText = sys;
     }
     window.scrollTo(0, document.body.scrollHeight);
 }
 function add_message_to_request(){
    let new_message = document.getElementById('new_message');
    let div = document.createElement('div');
    div.setAttribute('class', 'message_content');
    let role = document.createElement('input');
    role.setAttribute('name', 'role');
    role.setAttribute('type', 'text');
    div.appendChild(role);
    let content = document.createElement('textarea');
    content.setAttribute('name', 'content');
    div.appendChild(content);
    new_message.appendChild(div);
 }

 function add_message_from_history(element){
     let id = element.getAttribute('name');
     let new_message = document.getElementById('new_message');
     let message = element.parentElement.parentElement;
     if (element.checked){
        new_message.appendChild(message);
     }else {
        let old_message = document.getElementById(id);
        old_message.appendChild(message)
     }
 }
 function add_system_message(element){
     let sys_message = document.getElementById('system');
     sys_message.textContent = element.parentElement.nextElementSibling.textContent
 }
 function send_message(){
     let new_message_parts = document.getElementById('new_message').children;
     let messages = [{
             "role": "system",
             "content": document.getElementById('system').value.trim()
         }];
     for (let i = 3; i<new_message_parts.length; i++){
         messages.push({
             "role": new_message_parts[i].children[0].textContent.trim(),
             "content": new_message_parts[i].children[1].value.trim()
         });
     }
     messages.push({
         "role": "user",
         "content": document.getElementById('user').value.trim()
        });
     let data = {
         "type_data": "chat",
         "temperature":parseInt(document.getElementById("temperature").value),
         "max_tokens": parseInt(document.getElementById("max_tokens").value),
         "model": document.getElementById("model").value,
         "messages": messages
     };
     document.getElementById('gpt_request').value = JSON.stringify(data);
     document.getElementById('chat_name').value = window.parent.document.getElementById('new_chat').value
     document.getElementById('send_form').submit();
 }
</script>
<body onload="loaded();">
 <div class="tab-content">
    {% for message in messages %}
    <div class="tab-pane">
        {{ message|safe }}
    </div>
    {% endfor %}
     <form id="send_form" action="/chat_messages/new/{{ chat_id }}" method="post">
         <input name="gpt_request" id="gpt_request" type="hidden" value="">
         <input name="chat_name" id="chat_name" type="hidden" value="">
     <div id="new_message" class="out_message">
        <div class="message_head">
            <label>Temperature:</label><input type="number" id="temperature">&nbsp;
            <label>Max tokens:</label><input type="number" id="max_tokens">&nbsp;
            <label>Model:</label>
            <select id="model">
                {% for model in models %}
                <option>{{ model.name }}</option>
                {% endfor %}
            </select>
            <button type="button" onclick="send_message();">Send</button>
            <button type="button" onclick="add_message_to_request();">Add</button>
        </div>
         <div class="message_content">
             <label>System:</label>&nbsp;
             <textarea id="system"></textarea>
         </div>
        <div class="message_content">
            <label>User:</label>&nbsp;
            <textarea id="user"></textarea>
        </div>
     </div>
     </form>
 </div>

</body>
</html>