<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lessons.css') }}">
</head>
<body>
<h2>Создать урок</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="create_main">
    <form class="create_form" action="/create_lesson" method="post">
    <ul>
        <li><b>Название</b>&nbsp; <input name="name_lesson" type="text"></li>
        <li><b>Родной язык</b>&nbsp;
            <select name="native_land">
            {% for lang in list_lang %}
            <option value="{{ lang['code'] }}">
                {{ lang['name'] }}
            </option>
            {% endfor %}
            </select>
        </li>
        <li>
            <b>Обучаемый язык</b>&nbsp;
            <select name="studied_lang">
                {% for lang in list_lang %}
                <option value="{{ lang['code'] }}">
                {{ lang['name'] }}
                </option>
                {% endfor %}
            </select>
        </li>
        <li>
            <ul>
                <li><input type="radio" name="source_type" >&nbsp;<b>Из файла</b><br>&nbsp;<input type="file"> </li>
                <li><input type="radio" name="source_type" >&nbsp;<b>Ссылка YouTube</b><br>&nbsp;<input type="url"></li>
                <li><input type="radio" name="source_type" checked>&nbsp;<b>Автоматический режим</b></li>
            </ul>
        </li>
        <li><b>Включить слова</b>&nbsp;<textarea name="include_words"></textarea></li>
        <li><b>Исключить слова</b>&nbsp;<textarea name="not_include_word"></textarea></li>
        <li><input name="dont_include_studied_word" type="checkbox"><b>Не добавлять изученные слова</b></li>
        <li><button type="submit">Создать</button>&nbsp;<button type="button" onclick="document.location = '/lessons'">Отмена</button></li>
    </ul>



</form>
</div>
</body>
</html>