<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hard Study</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">

</head>
<body>

<script src="{{ url_for('static', filename='js/layout.js') }}" defer></script>

<div id="container">
    <div id="menu">
        <a href="#" onclick="showFrame('home')">Дом</a>
        <a href="#" onclick="showFrame('settings')">Настройки</a>
        <a href="#" onclick="showFrame('lessons')">Уроки</a>
        <form name="select_lesson" action="/start_study" method="post" target="study">
            <div class="hide" id="select_lesson">
                <ol>Выбранные уроки</ol>
                <a href="#" id="start_study" onclick="start_study();">Учить</a>
                <a href="#" onclick="showFrame('stat')" >Статистика</a>
            </div>
        </form>
        <a href="#" onclick="showFrame('about') ">О нас</a>
    </div>

    <div id="content">
        <iframe id="home" name="home" src=""></iframe>
        <iframe id="settings" name="setting" src="/settings"></iframe>
        <iframe id="lessons" name="lesson" src="/lessons"></iframe>
        <iframe id="study" name="study" ></iframe>
        <iframe id="stat" name="stat" src="/stat"></iframe>
        <iframe id="about" name="about" src=""></iframe>
    </div>
</div>

</body>
</html>

