<div class="message">
    {% for message in messages %}
    <div  id="{{ message.id }}"
    {% if message.in %}
        class="in_message">
    {% else %}
        class="out_message">
    {% endif %}
        <div class="message_head">
            {% if message.date %}
            <label>Date:</label>{{ message.date }}&nbsp;
            {% endif %}
            <label>Temperature:</label><label>{{ message.temperature }}</label>&nbsp;
            {% if message.max_tokens %}
            <label>Max tokens:</label><label>{{ message.max_tokens }}</label>&nbsp;
            {% endif %}
            {% if message.model %}
            <label>Model:</label><label>{{ message.model }}</label>&nbsp;
            {% endif %}
            {% if message.completion_tokens %}
            <label>Completion tokens:</label>{{ message.completion_tokens }}&nbsp;
            {% endif %}
            {% if message.prompt_tokens %}
            <label>Prompt tokens:</label>{{ message.prompt_tokens }}&nbsp;
            {% endif %}
            {% if message.total_tokens %}
            <label>Total tokens:</label>{{ message.total_tokens }}
            {% endif %}
        </div>
        <div class="message_content">
            <div>
                <label>{{ message.role }}</label>&nbsp;
                {% if message.role!='raw' %}
                {% if message.role=='system' %}
                <input type="radio" name="system" onclick="add_system_message(this)">
                {% else %}
                <input type="checkbox" name="{{ message.id }}" onchange="add_message_from_history(this)">
                {% endif %}
                {% endif %}
            </div>
            <textarea>{{ message.content }}</textarea>

        </div>
    </div>
    {% endfor %}
</div>