<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
    function on_download(){
        window.parent.loaded_lesson = [];
        {% for lesson_id in lesson_id_name %}
            window.parent.loaded_lesson.push("{{lesson_id['id']}}");
        {% endfor %}
        {% for lesson in study_data %}
            lesson_data.push({{ lesson | tojson }});
            lesson_data[lesson_data.length-1].phrase_audio = new Audio("{{ url_for('static', filename='audio/'+ lesson['phrase_audio'] +'.mp3') }}");
            lesson_data[lesson_data.length-1].phrase_meaning_audio = new Audio("{{ url_for('static', filename='audio/'+ lesson['phrase_meaning_audio'] +'.mp3') }}");
        {% endfor %}
        next();
    }
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/study.css') }}">
    <script src="{{ url_for('static', filename='js/study.js') }}" defer></script>
</head>
<body onload="on_download();">
<div class="message_box_back" id="help_box_back">
    <div class="message_box" id="help_box"></div>
</div>
<div class="message_box_back" id="pause_box_back">
    <div class="message_box" id="pause_box">Перекур</div>
</div>
<form id="response" name="response" action="/save_result" method="post" target="stat">
    <input type="hidden" name="add_sent_num" value="{{ add_sent_num }}">
</form>
<div><h2>
    {% if lesson_id_name | length == 1 %}
        Текущее занятие:
    {% else %}
        Текущие занятия:
    {% endif %}
    {% for lesson_name in lesson_id_name %}
        "{{lesson_name['name']}}"
    {% endfor %}
    </h2>
</div>
<div >
    <div id="quest_view">
        <h3>Переведите</h3>
        <div id="phrase_meaning"><b>{{ study_data[0]['phrase_meaning'] }}</b></div>
    </div>
    <div id="input_view">
        <textarea id="input_text" onkeyup="onEntryChangeStudy()"></textarea>
        <button onclick="on_help()">Показать</button>
        <button onclick="on_sound()">Произнести</button>
    </div>

</div>
</body>
</html>