body{
    background: none;
}

#setting_form {
    padding: 20px;
}

.row{
    border-radius: 10px;
    align-items: center;
    margin: 5px;
    background: linear-gradient(to top, #1f4068, #1b1b2f); /* Градиент для объемного эффекта */
    color: white;
    background: #16213e;
    border: none;
    box-shadow:
    inset 0 1px 2px rgba(255, 255, 255, 0.15), /* Внутренняя светлая тень сверху */
    inset 0 -1px 2px rgba(32, 237, 250, 0.4), /* Внутренняя темная тень снизу */
    0 5px 10px rgba(32, 237, 250, 0.3), /* Внешняя тень для объема */
    0 2px 15px rgba(50, 200, 255, 1.2); /* Синий светящийся эффект */
    transition: box-shadow 0.3s ease-in-out;
}

.row button, input, select{
    color: black;
    margin: 10px;
}

.balance{
    display: flex;
    align-items: center;
}