#input_view {
    padding-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#input_view textarea {
    width: 300px;
    font-weight: bold;
    font-size: x-large;

}

#quest_view {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: x-large;
}

#phrase_meaning {
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid #ccc;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

#background{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../../img/hs/study_background.webp");
}

.top_right{
    position: absolute;
    display: flex;
    top: 50px;
    right: 50px;
    background-color: azure;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #ccc;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.motivator_info{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding-left: 10px;
    font-size: small;
}

.phrase_meaning{
    display: flex;
    background-color: azure;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    border: 3px solid #ccc;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.motivator_info_text{
    display: flex;
}

.content{
    position: absolute;
    top: 0px;
    display: flex;
    bottom: 0px;
    left: 0px;
    right: 0px;
    align-items: center;
    justify-content: center;
}

.content_inside{
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_inside img{
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.4),
                  inset 0px 00px 20px rgba(255, 255, 255, 0.2);
    transform: perspective(500px) rotateX(10deg) rotateY(10deg);
  border-radius: 5px;
}

.loader{
    padding: 8px;
    border-radius: 10px;
    background-color: white;
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.7;
  }
}

.close_btm a{
    display: inline-block; /* Делает ссылку блочным элементом для применения отступов */
    text-decoration: none; /* Убирает подчеркивание текста */
    background-image: url("../../img/hs/close_btm.png");
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}