<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О нас - FullSense Training</title>
    <style>
        body { font-family: Arial, sans-serif; line-height: 1.6; }
        .container { width: 80%; margin: auto; overflow: hidden; }
        h1, h2, h3 { color: #333; }
        p { margin: 20px 0; }
        .technology { font-weight: bold; }
    </style>
</head>
<body>
    <div class="container">
        <h1>О нас</h1>
        <p>Добро пожаловать на страницу "О нас" проекта Study Forge. Этот сайт является кульминацией моего личного вклада и страсти к обучению и технологиям. От идеи до дизайна и полной реализации, каждый аспект этого проекта был разработан с нуля мной, демонстрируя мою способность превращать концепции в работающие решения.</p>

        <h2>Использованные технологии</h2>
        <p>Для создания Study Forge был использован широкий спектр технологий, подчеркивающих мою универсальность и знание различных инструментов разработки. Вот ключевые технологии, примененные в процессе:</p>
        <ul>
            <li class="technology">Flask</li>
            <li class="technology">MySQL</li>
            <li class="technology">JavaScript</li>
            <li class="technology">HTML</li>
            <li class="technology">CSS</li>
            <li class="technology">SQLAlchemy</li>
            <li class="technology">ChatGPT</li>
            <li class="technology">C++</li>
        </ul>

        <h2>Мой вклад</h2>
        <p>Проект Study Forge отражает мою способность управлять всем процессом разработки - от первоначальной идеи до технической реализации. Я не только спроектировал архитектуру сайта и интерфейс пользователя, но и написал весь код, интегрировал базу данных и разработал сложные функции взаимодействия с пользователем с использованием ChatGPT и других технологий.</p>
        <p>Важным этапом разработки стало тестирование созданной методики на себе. Этот процесс не только позволил мне убедиться в эффективности и надежности системы, но и продемонстрировал удивительные результаты. Использование методики FullSense Training значительно улучшило мои навыки владения иностранными языками и программированием, подтверждая потенциал методики для обучения и развития.</p>
        <p>Этот сайт служит не только платформой для обучения, но и моим портфолио, демонстрируя мои навыки и опыт потенциальным клиентам. Я горжусь тем, что могу представить сайт Study Forge и методику FullSense Training как пример моей работы, отражающий мою страсть к разработке и обучению.</p>
    </div>
</body>
</html>
%}