{% extends "bootstrap/base.html" %}

{% block title %} Study Forge {% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/hs/layout.js') }}" defer></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', filename='img/hs/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hs/layout.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hs/common.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    {% block login %}{% endblock %}
</div>
<div id="menu" class="lay_button">
    <div class="image-container">
        <img src="{{ url_for('static', filename='img/hs/StudyForge_logo.png')}}" height="100px">
    </div>
    <a href="{{ url_for('hs.home') }}" onclick="showFrame('common')" target="common">{{ _('Дом') }}</a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('hs.settings')}}" onclick="showFrame('common')" target="common">{{ _('Настройки') }}</a>
        <a href="{{ url_for('hs.lesson_select', lang_id=selected_language.id) }}" onclick="showFrame('common')" target="common">{{ _('Уроки') }}</a>
        {% if lesson %}
            <div id="select_lesson">
                <ol>{{ _('Выбран урок:') }} {{ lesson.name }}</ol>
                <ul>
                    <a href="{{ url_for('hs.study')}}">{{ _('Учить') }}</a>
                </ul>
                <ul>
                    <a href="#" onclick="showFrame('chat')">{{ _('Чат') }}</a>
                </ul>
            </div>
        <a href="{{ url_for('hs.stat') }}" onclick="showFrame('common')" target="common">{{ _('Статистика') }}</a>
        {% endif %}
    {% endif %}
    <a href="{{ url_for('hs.about') }}" onclick="showFrame('common')" target="common">{{ _('О нас') }}</a>
</div>
<div class="lang_login lay_button">
    <select id="lang" onchange="change_lang()">
        {% for lang in languages %}
        <option value="{{ lang.id }}"
            {% if lang.code == selected_language.code %}
            selected
            {% endif %}
        >{{ lang.code }}</option>
        {% endfor %}
    </select>
    <div class= "login">
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}" >{{ _('Выйти') }}</a>
        {% else %}
        <a href="{{ url_for('auth.login') }}" >{{ _('Войти') }}</a>
    {% endif %}
    </div>
</div>
<div id="content">
    <iframe id="common" name="common" src=""></iframe>
    {% if current_user.is_authenticated and lesson %}
        <iframe id="chat" name="chat"></iframe>
    {% endif %}
</div>

{% endblock %}

