{% extends "bootstrap/base.html" %}

{% block title %} Hard Study {% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/hs/layout.js') }}" defer></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    {% block login %}{% endblock %}
</div>

<div id="main_container">
    <div id="head">
        <div id="name_app">
            <h1>Hard Study</h1>
        </div>
        <select id="lang">
            {% for lang in languages %}
            <option value="{{ lang.id }}"
                {% if lang.code == selected_language %}
                selected
                {% endif %}
            >{{ lang.code }}</option>
            {% endfor %}
        </select>
        <div class= "login">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}" >logout</a>
            {% else %}
            <a href="{{ url_for('auth.login') }}" >login</a>
        {% endif %}
        </div>
    </div>
    <div id="container">
        <div id="menu">
            <a href="{{ url_for('hs.home') }}" onclick="showFrame('common')" target="common">Дом</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('hs.settings')}}" onclick="showFrame('common')" target="common">Настройки</a>
                <a href="{{ url_for('hs.lesson_select') }}" onclick="showFrame('common')" target="common">Уроки</a>
                {% if lesson %}
                    <div id="select_lesson">
                        <ol>Выбран урок: {{ lesson.name }}</ol>
                        <ul>
                            <a href="#" onclick="showFrame('study')">Продолжить</a>
                        </ul>
                        <ul>
                            <a href="#" onclick="showFrame('chat')">Чат</a>
                        </ul>
                    </div>
                <a href="{{ url_for('hs.stat') }}" onclick="showFrame('common')" target="common">Статистика</a>
                {% endif %}
            {% endif %}
            <a href="{{ url_for('hs.about') }}" onclick="showFrame('common')" target="common">О нас</a>
        </div>

        <div id="content">
            <iframe id="common" name="common" src=""></iframe>
            {% if current_user.is_authenticated and lesson %}
                <iframe id="chat" name="chat" src="/chat/{{ lesson.id }}"></iframe>
                <iframe id="study" name="study" src="/study/{{ lesson.id }}"></iframe>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
