<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hs/lesson_select.css') }}">
    <script src="{{ url_for('static', filename='js/hs/lesson_select.js') }}" defer></script>
</head>
<body>
<div id="control_row">
    <form method="POST">
        {{ form.csrf_token() }}
        {{ form.what_request() }}
        {{ form.lesson_type.label }}
        {{ form.lesson_type(onchange="select_on_change(this);") }}
        {{ form.lesson_lang.label }}
        {{ form.lesson_lang(onchange="select_on_change(this);") }}
        {{ form.lesson_name.label}}
        {{ form.lesson_name(onchange="select_on_change(this);") }}
    </form>
    <button >{{ _('Создать') }}</button>
</div>
<table>
    <tr>
        <th></th>
        <th>{{ _('Изучаемый язык') }}</th>
        <th>{{ _('Показано раз') }}</th>
        <th>{{ _('Правильных ответов') }}</th>
        <th>{{ _('Ответов без подсказок') }}</th>
        <th>{{ _('Последний раз показано') }}</th>
        <th>{{ _('Включено в обучение') }}</th>
    </tr>
    <!--(77, 2, 39, 'Olá', '61b690be506a14fec7a053fa8587c25ca7406ea1898f2d1d83afe9d71f1aa07b', True, False, 39, 1, 1, 77, 21, 5, 1, datetime.datetime(2023, 12, 19, 12, 46, 32), 39, 'Привет')--!>
    {% for row in lesson_content %}
    <tr>
        <th>{{ row[16] }}</th>
        <td>{{ row[3] }}</td>
        <td>{{ row[11] }}</td>
        <td>{{ row[12] }}</td>
        <td>{{ row[13] }}</td>
        <td>{{ row[14] }}</td>
        <td>-----</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>