{% extends "bootstrap/base.html" %}
{% block styles %}
{{ super() }}
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/hs/common.css') }}">-->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/hs/setting.css') }}">-->
<link rel="stylesheet" href="/static/css/hs/common.css">
<link rel="stylesheet" href="/static/css/hs/setting.css">
{% endblock %}
{% block scripts %}
{{ super() }}
<!--<script src="{{ url_for('static', filename='js/hs/common.js') }}" ></script>-->
<!--<script src="{{ url_for('static', filename='js/hs/settings.js') }}" ></script>-->
<script src="/static/js/hs/common.js" ></script>
<script src="/static/js/hs/settings.js" ></script>
{% endblock %}
{% block content %}
<div class="message_background" id="message_box">
    <div class="message_box">
        <div id="message_box_text"></div>
        <div class="button_block">
            <button id="ok_btn">Ok</button>
            <button id="cancel_btn" >Cancel</button>
        </div>
    </div>
</div>
<header>
    <div class="container">
        <h1>{{ _('Настройки') }}</h1>
    </div>
</header>

<div class="container">
    <form id="setting_form" action="{{ url_for('hs.settings') }}" method="post" class="form" role="form">
    {{ form.csrf_token() }}
    <div class="row">
        <div class="col-sm-4">
        {{ form.num_sent_warm_up.label(class="form-label") }}
        </div>
        <div class="col-sm-4">
        {{ form.num_sent_warm_up(class="form-control") }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        {{ form.num_new_sentences.label(class="form-label") }}
        </div>
        <div class="col-sm-4">
        {{ form.num_new_sentences(class="form-control") }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {{ form.total_sentences.label }}
        </div>
        <div class="col-sm-4">
            {{ form.total_sentences(class="form-control") }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {{ form.voice.label }}
        </div>
        <div class="col-sm-4">
            {{ form.voice(class="form-control") }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {{ form.num_showings1.label }}
        </div>
        <div class="col-sm-4">
            {{ form.num_showings1(class="form-control") }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        {{ form.num_showings2.label }}
        </div>
        <div class="col-sm-4">
        {{ form.num_showings2(class="form-control") }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        {{ form.num_showings3.label }}
        </div>
        <div class="col-sm-4">
        {{ form.num_showings3(class="form-control") }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        {{ form.use_dialect.label }}
        </div>
        <div class="col-sm-4">
        {{ form.use_dialect() }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        {{ form.shock_motivator.label }}
        </div>
        <div class="col-sm-4">
        {{ form.shock_motivator() }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        {{ form.smoke_motivator.label }}
        </div>
        <div class="col-sm-4">
        {{ form.smoke_motivator() }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        <label>{{ _('Мой баланс') }}: {{ balance.btc_balance | round(2) }}{{ form.currency_show(onchange="onCurrencyChange()")}}</label>
        </div>

        <div class="balance">
            <button type="button" onclick="fetchQRCode()">{{ _('Пополнить') }}</button>
            <button>{{ _('Вывести') }}</button>
            <span>
                {%if balance.unconfirmed_balance>0%}
                {{ _('Ожидается поступление') }}:{{balance.unconfirmed_balance | round(2)}}{{ form.currency_show.data }}<br>
                {%endif%}
                {%if balance.btc_transaction_in_progress>0%}
                {{ _('Ожидается подтверждение') }}:{{balance.btc_transaction_in_progress | round(2)}}{{ form.currency_show.data }}
                {%endif%}
            </span>
        </div>
    </div>
    {% if not current_user.is_money_motivator_active %}
    <div class="row">
        <div class="col-sm-4">
        {{ form.money_motivator.label }}
        </div>
        <div class="col-sm-4">
        {{ form.money_motivator(onchange="submit_form(this)") }}
        </div>
    </div>
      {%endif%}
    <div class="row text-center">
        <div class="col">
        {{ form.submit_form() }}
        </div>
    </div>
    </form>
    {% if current_user.money_motivator %}
    <form id="setting_form_money" action="{{ url_for('hs.settings') }}" method="post" class="form" role="form">
    {{ form2.csrf_token() }}
    {{ form2.activate_motivator() }}
    <div class="row">
        <div class="col-sm-4">
        <label>{{ _('Баланс мотиватора') }}: {{ current_user.get_motivator_balance() | round(2) }}{{ form.currency_show.data }}</label>
        </div>
        {% if not current_user.is_money_motivator_active %}
        <div>
        {% if balance.btc_balance>0 or current_user.motivator_btc_balance>0%}
            {% if balance.btc_balance>0%}
                <input type="button" onclick="show_message(null, 0, null, null, `
                <div>
                    <span>{{_('На какую сумму пополнить мотиватор?')}}</span><br>
                    <span>{{_('Доступно')}}:{{balance.btc_balance | round(2)}}</span>
                    <input type='number' onkeyup='check_balance(this, {{balance.btc_balance | round(2) }})'>
                </div>
                `)" value="{{ _('Пополнить') }}">
            {% endif %}
            {% if current_user.motivator_btc_balance>0 %}
                <input type="button" onclick="show_message(`{{ _('Внимание!!!\nПосле активации какие либо изменения внести будет не возможно,\nпока не закончится его действие.') }}`, 0, activate_money_motivator, null, null)" value="{{ _('Активировать') }}">
                <input type="button" onclick="window.location.href=`/clean_motivator`" value="{{ _('Очистить') }}">
            {% endif %}
        {% else %}
            <span>{{ _('Пополните баланс для активации мотиватора') }}</span>
        {% endif %}

        </div>
        {% endif %}

    </div>
    <div class="row">
        <div class="col-sm-4">
        {{ form2.time_period.label }}
        </div>
        <div class="col-sm-4">
        {{ form2.time_period(class="form-control", readonly=current_user.is_money_motivator_active)}}
        </div>
        <div class="col-sm-4">
         {% if current_user.is_money_motivator_active %}
            <span>{{ current_user.get_motivator_btc_per_day() | round(2) }}{{ form.currency_show.data }}. {{ _('День') }} {{ current_user.money_motivator_day }} <br> {{ _('осталось') }} {{ current_user.money_motivator_hours }} {{ _('часов что бы пройти уроки') }}</span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        {{ form2.lesson_per_day.label }}
        </div>
        <div class="col-sm-4">
        {{ form2.lesson_per_day(class="form-control", readonly=current_user.is_money_motivator_active)}}
        </div>
    </div>
    </form>
    {% endif %}


</div>

{% endblock %}}