<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/hs/study.js')}}"></script>
    <script src="{{ url_for('static', filename='js/hs/common.js')}}"></script>
    <script defer>
         function on_download(){
            transl = {
                "smoke_txt": "{{ _('Перекур') }}",
                "dev_connected": "{{ _('Устройство подключено') }}",
                "show_time": "{{ _('Показано') }}",
                "spend_time": "{{ _('Потрачено времени') }}",
                "right_ans": "{{ _('Правильных ответов') }}",
                "err_ans": "{{ _('Ошибок') }}",
                "new_phr": "{{ _('Новых фраз') }}",
                "no_help": "{{ _('Без подсказок') }}",
                "repeat_les": "{{ _('Повторить урок?') }}"
            };
            voice = "{{ current_user.voice }}"
            {% if current_user.shock_motivator %}
                shock_motivator = true
             {% endif %}
             {% if current_user.smoke_motivator %}
                smoke_motivator = true
             {% endif %}
             {% if current_user.is_money_motivator_active %}
                money_motivator = true
                // money_motivator_inc = {{ current_user.money_motivator_inc }}
                // money_motivator_dec = {{ current_user.money_motivator_dec }}
                btc_balance_my_out = {{ current_user.btc_balance_my_out }}
                btc_balance_no_my_out = {{ current_user.btc_balance_no_my_out }}
                money_for_today = {{ current_user.money_for_today }}

            {% endif %}

             {% if current_user.smoke_motivator or current_user.shock_motivator %}
             show_message("{{ _('Подключите мотивирующие устройства') }}", 0, connect_com_device);
             {% endif %}

             document.getElementById('input_text').focus()
             download_lessons()
         }
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hs/study.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hs/common.css') }}">

</head>
<body onload="on_download();">
<div id="background">
    <div class="content">
        <div class="content_inside">
            <img src="{{ url_for('static', filename='img/hs/bye.webp') }}">
        </div>
    </div>
    <div class="content">
        <div class="content_inside" id="lesson_background">
            <img src="{{ url_for('static', filename='img/hs/hello.jpg') }}">
        </div>
    </div>
    <div class="content" id="load_lesson">
        <div class="content_inside">
            <div class="loader">{{ _('Загрузка урока...') }}</div>
        </div>
    </div>


    <div class="message_background" id="message_box">
        <div class="message_box">
            <div id="message_box_text"></div>
            <div class="button_block">
                <button id="ok_btn">Ok</button>
                <button id="cancel_btn" >Cancel</button>
            </div>
        </div>
    </div>

    <form id="study_data" method="POST">
        {{ phrase_form.csrf_token() }}
        {{ phrase_form.id_phrase() }}
        {{ phrase_form.was_help_flag() }}
        {{ phrase_form.was_help_sound_flag() }}
        {{ phrase_form.was_mistake_flag() }}
        {{ phrase_form.total_phrase() }}
    </form>
    <form id="statistic" method="POST">
        {{ statistic_form.csrf_token() }}
        {{ statistic_form.statistic_id_phrase() }}
        {{ statistic_form.shows() }}
        {{ statistic_form.mistake_count() }}
        {{ statistic_form.right_answer() }}
        {{ statistic_form.new_phrase() }}
        {{ statistic_form.full_understand() }}
        {{ statistic_form.total_time() }}
        {{ statistic_form.time_start() }}
    </form>
    <div class="top_right">
        {% if current_user.is_money_motivator_active %}
        <div class="motivator_info">
            <div>
                <label>{{ _('Мои деньги:') }}</label>
                <span id="btc_balance_my_out">{{ current_user.win_btc }}</span>
            </div>
            <div>
                <label>{{ _('Деньги врага:') }}</label>
                <span id="btc_balance_no_my_out">{{ current_user.lose_btc }}</span>
            </div>
            <div>
                <label>{{ _('Можно забрать денег сегодня:') }}</label>
                <span id="money_for_today">{{ current_user.money_for_today - current_user.win_btc - current_user.lose_btc }}</span>
            </div>
        </div>
        {% endif %}
        <div class="close_btm"><a href="/">close</a></div>
    </div>
    <div id="quest_view">
        <div class="phrase_meaning">
            <div id="phrase_meaning"><b></b></div>
            {% if current_user.is_money_motivator_active %}
            <div class="motivator_info">
                <div>
                    <div><label>{{ _('Правильно:') }}+</label></div>
                    <div><span id="money_motivator_inc">0</span></div>
                </div>
                <div>
                    <div><label>{{ _('Не правильно:') }}-</label></div>
                    <div><span id="money_motivator_dec">0</span></div>
                </div>
            </div>
            {% endif %}
        </div>
        <div id="input_view">
            <textarea id="input_text" onkeyup="onEntryChangeStudy()"></textarea>
            <button onclick="on_help()">{{ _('Показать') }}</button>
            <button onclick="on_sound()">{{ _('Произнести') }}</button>
            <button id="one_letter" onclick="on_one_letter()">{{ _('Символ') }}</button>
        </div>
    </div>
</div>
</body>
</html>